/* === DESKTOP FIRST === */

/* xl <= Extra extra large (xxl) */
@media (max-width : 1400px) {}

/* lg <= Extra large (xl) */
@media (max-width : 1200px) {
	.top-menu__item {
		margin: 0;
	}

	.top-menu__link {
		padding: 7.5px 15px;
	}
}

/* md <= Large (lg) */
@media (max-width : 992px) {
	.top-menu {
		position: absolute;
		visibility: hidden;
		opacity: 0;
		background-color: var(--dark);
		right: 35px;
		top: -7px;
		overflow: hidden;
		border-radius: var(--radius);
	}
	.top-menu__item {
		display: block;
	}
	.top-menu__link {
		display: block;
		text-align: left;
		border-bottom: 1px solid rgba(255, 255, 255, 0.05);
		color: rgba(255, 255, 255, .5);
		border-radius: 0;
		padding: 14px 35px;
		font-size: 12px;
		line-height: 1.6;
		text-transform: uppercase;
	}
	.top-menu__link:hover,
	.top-menu__link:focus,
	span.top-menu__link {
		color: rgba(255, 255, 255, 0.75);
		background-color: rgba(196, 196, 196, 0.05);
	}
	.menu-toggle {
		display: block;
	}
}

/* sm <= Medium (md) */
@media (max-width : 768px) {}

/* xs <= Small (sm) */
@media (max-width : 576px) {}


/* === MOBILE FIRST === */

/* Custom (xs) */
@media (max-width : 0) {}

/* Small (sm) */
@media (max-width : 576px) {

.home-slider__heading {
	font-size: 40px;
}

}

/* Medium (md) */
@media (mxa-width : 768px) {}

/* Large (lg) */
@media (mxa-width : 992px) {}

/* Extra large (xl) */
@media (max-width : 1200px) {
	.text {
		font-size: 18px;
	}
}

/* Extra extra large (xxl) */
@media (max-width : 1400px) {
	.text {
		font-size: 22px;
	}
}